body {
	margin: 0 auto;
	max-width: 1920px;
	min-width: 375px;
	font-family: PingFang SC; 
}
html {
	scroll-behavior: smooth!important;
	max-height: 848px;
}
// Chorme 隱藏滾動條
body::-webkit-scrollbar {
	display: none;
}
// IE/Edge 隱藏滾動條
body {
	-ms-overflow-style: none;
}
.home {
	display: none!important;
}

@keyframes myAnimation
{
  0% { opacity: 0.35;}
  100% { opacity: 0.65; }
}
.set-in-center {
	padding: 8%;
}
.button {
	color: #363636;
	opacity: 0.5;
	text-decoration:none;
	&.active {
		font-weight: 600;
		opacity: 1;
	}
}
.dot {
	display: inline-block;
	background-color: #8f8f8f;
  opacity: 0.45;
  width: 10px;
  height: 10px;
  text-decoration: none;
	-webkit-transition: .5s;
	transition: .5s;
	margin-bottom: 10px;
	border-radius: 50%;
	&.active {
		opacity: 1;
    border-radius: 25px;
    width: 10px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
		-webkit-transition: .5s;
		transition: .5s;
	}
}
.header {
	background: #d6dce2;
	color: #363636;
	z-index: 99999;
	position: sticky;
	top: 0;
	max-width: 1920px;
	width: 100%;
	height: 60px;
}
.side-bar {
	color: #363636;
	z-index: 99999;
	position: fixed;
	top: 50%;
	right: 0px;
	width: 20px;
	height: 200px;
	transform: translateY(-50%);
}
.content {
	padding: 16px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	+ {
		.content {
			padding-top: 102px;
		}
	}
}
.item-in-header {
	width: 40%;
	display: flex;
	justify-content: right;
	position: absolute;
	right: 6%;
}
.item-box {
	font-size: 14px;
	width: 18%;
	margin: 0 4%;
	line-height: 60px;
}
.homepage {
	text-align: center;
	background-image: url(../img/bg-1.png);
	position: relative;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gram-logo {
	width: 253px;
	height: 40px;
}
.scroll-down {
	// margin: 88px 0 50px 0;
	margin: 0 auto;
	animation: myAnimation 1s ease 0s infinite alternate;
}
.board {
	text-align: center;
}
.environment-txt {
	margin-top: 10px;
}
.sec-1-title {
	width: 100%;
	margin: 37px auto;
	line-height: 1.4;
	text-shadow: 0 3px 3px rgba(172, 180, 198, 0.3);
	background-image: linear-gradient(to right, #ffc169, #ff8d38);
	font-size: 60px;
	font-weight: 500;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sec-1-content {
	width: 80%;
	font-size: 16px;
	padding-bottom: 202px;
	margin: 0 auto;
}
.section {
	width: 100%;
	text-align: center;
	background-color: #f4f4f4;
	position: relative;
	background-size: cover;
	padding-bottom: 40px;
	padding-top: 16px;
	&.two, &.three {
		padding: 150px 0 200px;
	}
	&.four {
		padding-top: 82px;
		// height: 100vh;
	}
}
.section-bg-txt {
	background: linear-gradient(to top, #a9a9a9, #f4f4f4);
	opacity: 0.2;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-family: 'DIN Condensed';
	font-size: 200px;
	font-weight: 900;
	padding-top: 30px;
}
.sec-title {
	font-size: 28px;
	margin-top: -82px;
}
.title-line {
	width: 70px;
	height: 4px;
	margin: 0 auto;
	border-radius: 3px;
	background-image: linear-gradient(to right, #ffc169, #ff8d38);
}
.sec-content {
	width: 100%;
	margin: 40px auto;
	line-height: 2;
	font-size: 16px;
	// letter-spacing: 5px;
}
.img-layout-board {
	margin-top: 20px;
	display: flex;
}
.img-cub {
	width: 30%;
	margin: 10px auto;
	padding: 30px;
	border-radius: 25px;
	background-image: linear-gradient(333deg, #96d7ff 83%, #d0edff);
}
.box-gap {
	margin: 0 2%;
}
.line-width {
	width: 17%;
}
.flex-laypout {
	display: flex;
	width: 25%;
	margin: 0 auto;
}
.gram-se2 {
	width: 30%;
}
.sec-2-board {
	display: flex;
	align-items: center;
	justify-content: center;
}
.three-group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 570px;
	.cube {
		width: 100px;
		height: 100px;
		padding: 24px;
		// margin: 0 15px;
		border-radius: 25px;
		background-image: linear-gradient(150deg, #d0edff 20%, #96d7ff);
	}
	.sec-gram-logo {
		width: 383px;
		height: 359px;
		margin: 0 9px;
	}
	.dots {
		margin: 27px 15px;
	}
	.cube-txt {
		width: 160px;
		margin: 11px 15px;
	}
}
.sec-2-txt {
	color: #363636;
	opacity: 0.5;
	padding: 0 35%;
}
.three-flex {
	display: flex;
	justify-content: center;
}
.top-three {
	margin-top: 40px;
	display: flex;
	margin-left: 16%;
	margin-right: 28%;
}
.down-three {
	margin-top: 40px;
	display: flex;
	margin-left: 28%;
	margin-right: 16%;
}
.environment-img {
	width: 78%;
	border-radius: 15px;
}
.icon-area {
	width: 58%;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.img-icon {
	margin: 40px 50px;
	width: 90px;
}
.icon-txt {
	margin-top: 30px;
	font-size: 14px;
}
.protable-layout {
	display: none;
}
.sec-5-board {
	margin: 0 160px;
	border-radius: 25px;
	background-image: linear-gradient(302deg, #5896fd 58%, #aecdff);
	position: relative;
	padding: 18px;
	overflow: hidden;
	margin-bottom: 45px;
}
.spaceman {
	width: 30%;
	display: inline-flex;
	position: absolute;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 2;
}
.three {
	background-color: #fff;
}
.five {
	color: white;
	background-color: #fff;
	padding: 84px 0 0 0;
}
.sec-5-btn {
	width: 160px;
	margin: 0 auto;
	padding: 13px 32px;
	border-radius: 8px;
	box-shadow: 0 4px 0 0 #2b888a;
	background-image: linear-gradient(287deg, #3dc4c5 97%, #42c0c6 0%);
	white-space: nowrap;
	color: #fff;
	position: relative;
	z-index: 99;
	opacity: 1;
}
.jobBtn {
	text-decoration: none;
}
.sec-5-title {
	font-size: 28px;
	margin-bottom: 40px;
}
.sec-5-txt {
	font-size: 16px;
	padding: 19px 0 32px 0;
	color: #c6dbff;
}
.footer {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	color: #4d4d4d;
	font-size: 12px;
	text-align: center;
	height: 100px;
	line-height: 100px;
}

@media screen and (max-width: 767px) {
	.header {
		display: none;
	}
	.sec-1-title {
		font-size: 36px;
		margin: 20px 0 12px 0;
	}
	.section-bg-txt {
		font-size: 80px;
	}
	.sec-title {
		font-size: 24px;
		margin-top: -56px;
	}
	.web-layout {
		display: none;
	}
	.sec-2-txt {
		padding: 0 26px;
	}
	.environment-protable {
		width: 335px;
		margin: 0 auto;
	}
	.img-icon {
		width: 50%;
	}
	.protable-layout {
		display: block;
		overflow: hidden;
		min-width: 300px;
		min-height: 200px;
	}
	.spaceman {
		width: 80%;
	}
	.sec-5-title {
		margin-bottom: 100px;
	}
	.sec-5-txt {
		font-size: 14px;
		padding: 24px 0 19px 0;
	}
	.footer {
		height: 40px;
		line-height: 40px;
	}
	.icon-area {
		width: 100%;
		margin: 45px auto;
	}
	.img-icon {
		margin: 30px 0;
	}
	.icon-txt {
		margin-top: 10px;
		font-size: 12px;
	}
	.sec-content {
		line-height: 2.15;
		font-size: 13px;
		margin: 12px auto;
	}
	.sec-5-board {
		margin: 0 20px;
	}
	.slick-slide {
		img {
			display: block;
			margin: 40px auto 0 auto;
			width: 335px;
		}
	}
	.three-group {
		.cube {
			width: 100px;
			height: 100px;
			padding: 17px;
			margin: 0 15px;
			border-radius: 24px;
			background-image: linear-gradient(150deg, #d0edff 20%, #96d7ff);
		}
		.sec-gram-logo {
			width: 240px;
			height: 225px;
		}
		.dots {
			margin: 11px 0;
			width: 250px;
		}
		.cube-txt {
			width: 80px;
			margin: 7px auto;
		}

	}
}
@media (max-width: 1519px) {
	.header {
		display: none;
	}
	.sec-1-title {
		font-size: 50px;
	}
	.section-bg-txt {
		font-size: 97px;
	}
	.web-layout {
		display: none;
	}
	.sec-2-board {
		max-width: 639px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		.left {
			flex-direction: column-reverse;
		}
	}
	.three-group {
		&.left {
			flex-direction: column-reverse;
		}
		.dots {
			margin-top: 20px;
			width: 50%;
		}
		.cube-txt {
			width: auto;
		}
	}
	.sec-2-icon-gap {
		width: 120px;
	}
	.environment-protable {
		width: 60%;
		max-width: 708px;
		margin: 0 auto;
		border-radius: 20px;
	}
	.slick-slide {
		img {
			display: block;
			margin: 40px auto 0 auto;
			width: 92%;
		}
		float: left;
		height: auto;
		min-height: 1px;
	}
	.protable-layout {
		display: block;
		overflow: hidden;
	}
	.spaceman {
		width: 40%;
	}
	.sec-5-board {
		margin: 0 30px;
	}
	.sec-5-txt {
		padding: 20px 0 206px 0;
	}
}
@media (max-width: 1520px) {
	.section {
		max-width: 1520px;
	}
}
@media screen and (min-width: 1921px) {
	.four {
		height: 100vh;
		padding: 20%;
	}
}
// 客製化套件item
.slick-dots li.slick-active button:before {
  background-color: white!important;
  opacity: 0.75!important;
  content: ""!important;
  padding: 0%!important;
  width: 36px!important;
  height: 5px!important;
  line-height: 0!important;
  top: 17px!important;
  border-radius: 25px!important;
}
